* {
    box-sizing: border-box;
    letter-spacing: 1.2px;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

/* ÍNICIO DO HEADER UNIVERSAL */

.header {
    border-bottom: 8px solid #E67C1C;
    background-color: #dcdcdc
}

.header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.header .container img {
    width: 5%;
}

.title {
    font-weight: bolder;
    font-size: 20px;
}

.header .container .navbar {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header .container .container {
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar a {
    outline: none;
    text-decoration: none;
    color: black;
    marker: none;
}

.now {
    font-weight: bolder;
}

/*FIM DO HEADER UNIVERSAL*/

/* ÍNICIO DO FOOTER UNIVERSAL */
.footer {
    height: 10%;
    width: 100%;
    background-color: #dcdcdc;
}

.footer .container {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .container .boxes {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.box {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.box img {
    width: 20%;
    margin-bottom: 0px;
}

.box span {
    font-size: small;
    align-self: center;
    margin-top: 2px;

}

.box h4 {
    margin: 0;
}

/* FIM DO FOOTER UNIVERSAL */


/* ÍNICIO DA REPONSIVIDADE BÁSICA */

@media screen and (max-width: 1000px) {


    main .sobre .container .porcentagens .todasaspercs {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: column;

    }

    .graficosDashboard {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .conteinerBoxes {
        display: flex;
        flex-direction: column;
    }

    .kpiBoxes {
        display: flex;
        flex-direction: column;
    }

    .cad_campos {
        display: flex;
        flex-direction: column;
    }

    .card-endereco {
        margin-left: 0px;
        margin-top: 30px;
    }

    .card-Cadastro {
        margin-right: 0px;
        margin-top: -350px;
    }

    .body-cadastrar {
        height: 200vh;
    }

    .cad_pai {
        display: flex;
        margin: 20px auto;
        flex-direction: column;
    }

}

/* FIM DA RESPONSIVIDADE BÁSICA */



/* INICIO DA ESTILIZAÇÃO DO ASIDE DAS DASHBOARDS*/

.container_main {
    width: 100%;
    display: flex;
}

.container_main aside {
    background-color: #E67C1C;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    border-right: 2px solid black;
}

.container_main aside header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.container_main aside header .nome_user {
    display: flex;
    width: 100vh;
    margin-right: 10px;
    font-size: 30px;
    color: #000;
}

.container_main aside header img {
    width: 100px;
}

.container_main aside .body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_main aside .body p {
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.container_main aside .body a {
    text-decoration: none;
}

.container_main aside .body p:hover {
    border-bottom: 2px solid #000;
}

.container_main aside .body a .container_main aside .footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
}

.container_main aside .footer {
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.container_main aside .footer img {
    height: 60px;
}

.footerTexto {
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vh;
    margin-left: 10px;
}

.container_main aside .footer .logout button {
    background-color: #E67C1C;
    border-radius: 10px;
    width: 100px;
    cursor: pointer;
    color: #fff;
    border: 0;
    padding: 5px 10px;
    font-size: 25px;
    border: 1.5px solid black;
    color: #000;
}

.container_main aside .footer .logout button:hover {
    background-color: #df86339f;
}

.container_main aside .footer .logout button a {
    text-decoration: none;
    color: #000;
}

/* FIM DA ESTILIZAÇÃO DO ASIDE DAS DASHBOARDS */