* {
    box-sizing: border-box;

}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.header {
    border-bottom: 8px solid orange;
    background-color: #dcdcdc
}

.header .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .container img {
    width: 5%;
}

.title {
    font-weight: bolder;
    font-size: 20px;
}

.header .container .navbar {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header .container .container {
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar a {
    outline: none;
    text-decoration: none;
    color: black;
    marker: none;
}

.now {
    font-weight: bolder;
}

.footer {
    height: 10%;
    width: 100%;
    background-color: #dcdcdc;
}

.footer .container {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .container .boxes {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.box {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.box img {
    width: 20%;
    margin-bottom: 0px;
}

.box span {
    font-size: small;
    align-self: center;
    margin-top: 2px;

}

.box h4 {
    margin: 0;
}

/* COMEÇO DA ESTILIZAÇÃO DA CALCULADORA */

.container_inputs {
    width: 100%;
    min-height: 1000px;
    padding: 50px 0px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/imgs/close-up-warehouse-view.jpg');

    /* imagem temporaria*/
    background-size: cover;
    background-position: center;

    z-index: 1;
}

.container_modal_calculadora {
    width: 100%;
    min-height: 1000px;
    height: 1452px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-top: 300px;
}

.box_modal_calculadora {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.modal_calculadora {
    align-items: center;
    justify-content: center;
    width: 70%;
    background-color: white;
    border-radius: 10px;
    border: orange 8px solid;
}

.modal_calculadora button {
    background-color: orange;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.container_filter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_filter button {
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.apagar {
    display: flex;
    justify-content: space-between;
}

.apagar .margin {

    border: solid orange;
    width: 100%;
    padding: 10px;
    background-color: #bababa;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    justify-content: flex-end;
    margin-left: 10px;
}


/* COMEÇO DA ESTILIZAÇÃO DO INDEX.HTML */

/* Parte 1 */
main {
    width: 100%;
}

main .introducao {
    width: 100%;
    height: 100%;
}

main .introducao .container {
    background-image: url('../assets/imgs/funCaixaIndex.png');
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    background-color: black;
}

main .introducao .container .titulo {
    width: 700px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 40px;
}

main .introducao .container .texto {
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 20px;
    width: 70%;
}

/* Parte 2 */
main .sobre {
    width: 100%;
    height: auto;
    background-color: white;
    padding: 50px 100px;
}

main .sobre .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .sobre .container .parte1 {
    display: flex;
    flex-direction: column;
}

main .sobre .container .parte1 .titulo {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 10px;
}

main .sobre .container .parte1 .texto {
    font-size: 20px;
    text-align: justify;
}

main .sobre .container .box {
    border-radius: 10px;
    margin-top: 5%;
    padding: 20px 60px;
    text-align: justify;
    display: flex;
    width: 100%;
    background-color: #f2f2f2;
    color: blue;
    align-items: flex-end;
}

main .sobre .container .box p {
    font-size: 20px;
}

main .sobre .container .box button {
    background-color: #1E0473;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: 0;
    margin-right: 100px;
}

/* Parte 3 */
main .sobre .container .porcentagens {
    border-radius: 10px;
    margin-top: 5%;
    padding: 20px;
    text-align: justify;
    display: flex;
    width: 80%;
    background-color: #f2f2f2;
    color: #1E0473;
    justify-content: space-around;
    display: flex;
}

main .sobre .container .porcentagens .todasaspercs {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

main .sobre .container .porcentagens .todasaspercs .perc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .sobre .container .porcentagens .todasaspercs .perc .titulo {
    font-size: 40px;
    margin: 0;
}

main .sobre .container .porcentagens .todasaspercs .perc .texto {
    width: 300px;
    text-align: center;
}


/* SOLUÇÃO */
.solucao {
    background-color: #f9f9f9;
    padding: 50px;
    text-align: center;
}

.solucao h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.solucao .subtitulo {
    color: orange;
    font-weight: bold;
    margin-bottom: 20px;
}

.solucao .conteudo {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    line-height: 1.6;
}

.solucao button {
    background-color: orange;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
    cursor: pointer;
}

/* DIFERENCIAIS */
.diferenciais {
    padding: 50px;
    text-align: center;
}

.diferenciais h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.diferenciais .cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.diferenciais .card {
    width: 200px;
    background: #f2f2f2;
    padding: 20px;
    border-radius: 12px;
    margin: 10px;
}

.diferenciais .card h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

/* SIMULADOR */
.calc-container {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 20px;
    align-items: flex-start;
}

.calc-container .calc_html {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 10px;
}

.calc-container .resultado {
    width: 45%;
    align-items: flex-start;
    text-align: left;
}

/* INFORMAÇÕES EXTRAS */
.info-extra {
    text-align: center;
    padding: 20px 50px;
    font-size: 18px;
    line-height: 1.5;
}

.info-extra #p_info {
    margin: 10px 0;
    color: orange;
}

/*login*/
.login-container {
    height: 90vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 0 5%;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/imgs/paginaFundoLogin&Cadastro.png');
    /* imagem temporaria*/
    background-size: cover;
    background-position: center;
    filter: brightness(0.6);
    z-index: 1;
}


.form-wrapper {
    z-index: 5;
    width: 90%;
    max-width: 350px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 8px;
    color: #ffffff;
}

#loginForm h2 {
    color: #ff8c00;
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
}

#loginForm label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.input-group {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.input-group input {
    flex-grow: 1;
    border: none;
    padding: 10px;
    outline: none;
    background: transparent;
    color: #333;
}

.input-group span {
    padding: 0 10px;
    color: #666;
    cursor: pointer;
    user-select: none;
}

.forgot-password {
    display: block;
    text-align: right;
    margin-top: 5px;
    font-size: 12px;
    color: #f7a738;
    text-decoration: none;
}


.login-button {
    width: 100%;
    background: linear-gradient(to right, #ff8c00, #f7a738);
    color: white;
    border: none;
    padding: 12px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}


.register-button {
    width: 100%;
    background-color: transparent;
    color: #ff8c00;
    border: 1px solid #ff8c00;
    padding: 12px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

.signup-prompt {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}


.margin select {
    text-align: center;
    height: 30px;
    width: 170px;
    border: 0px;
    background-color: rgb(231, 231, 231);
    border-radius: 5px;

}

.resultado button {
    align-items: center;
    justify-content: center;
}

.calc_html button {
    height: 35px;
    width: 100px;
    border: 0px;
    background-color: orange;
    color: white;
    border-radius: 5px;
    font-weight: bolder;
}

.calc_html input {
    height: 35px;
    width: 200px;
    border: 0px;
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
    text-align: center;
}

.calc_html input::placeholder {
    text-align: center;
    color: black
}

.resultado {
    display: flex;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.resultado span {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Kadooca 

CALCULADORA

.resultado button {
    align-items: center;
    justify-content: center;
}

.calc_html button {
    height: 35px;
    width: 100px;
    border: 0px;
    background-color: orange;
    color: white;
    border-radius: 5px;
    font-weight: bolder;
}

.calc_html input {
    height: 35px;
    width: 200px;
    border: 0px;
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
    text-align: center;
}

.calc_html input::placeholder {
    text-align: center;
    color: black
}

.resultado {
    display: flex;
    margin: 10px;
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 20px;

}
*/


/* CONTATO */
.contato-container {
    width: 40%;
    margin: 50px auto;
    padding: 20px;
    background-color: #00004d;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contato-container h3 {
    text-align: center;
    font-size: 22px;
}

.contato-container input,
.contato-container textarea {
    padding: 10px;
    border: 0;
    border-radius: 5px;
}

.contato-container button {
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: orange;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/*Pagina de Cadastro*/
/*Começo*/




.body-cadastrar {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f4f4f4;
    background-image: url(../assets/imgs/paginaFundoLogin&Cadastro.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Cabeçalho */
header .container_header {
    /*cabeçalho inteiro*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 5px solid orange;
    padding: 0 40px;
}

.nav {
    /*classe da lista ul */
    color: black;
    font-weight: bold;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}


.nav a {
    /*classe da letra dentro da lista */
    color: black;
    outline: none;
    text-decoration: none;
    justify-content: space-between;
    font-size: 20px;
}



header .login {
    /*classe do botão*/
    background-color: orange;
    color: white;
    border: none;
    padding: 5px 10px;
    width: 100px;
    cursor: pointer;
}



header .logo_container {
    /*div que tem dentro a classe logo img*/
    justify-items: flex-start;
    justify-content: flex-start;
}

header .logo {
    /*logo da empresa DENTRO DA CLASSE DIV-LOGO_CONTAINER*/
    display: flex;
    padding: 5px 10px;
    width: 200px;
}

.container_header .login {
    width: 150px;
    padding: 15px;
    background-color: #E67C1C;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 18px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: large;
}

/* Formulário */
.card-endereco {
    width: 500px;
    padding: 10px;
    background-color: #bababa;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    justify-content: flex-end;
    margin-left: 10px;
}

.card-endereco input {
    margin-top: 10px;
}

.card-endereco p {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}


.card-Cadastro {
    width: 500px;
    padding: 10px;
    color: white;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    margin-right: 10px;
}

.card-Cadastro p {
    margin: 10px 0 0 0;

}

.card-Cadastro input {
    margin-top: 10px;
}

.cad_pai {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 20px auto;
    flex-direction: column;
}

.formulario h3 {
    text-align: center;
    color: orange;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cad-input-cadastro {
    width: 95%;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: #bababa;
}


.cad-input-endereco {
    width: 95%;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: #bababa;
}



.button_cadastrar {
    background-color: #DF8533;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
    height: 50px;
    align-items: center;
    width: 200px;
    padding: 14px;
    text-align: center;
    margin-top: 30px;
}

.button_cadastrar:hover {
    background-color: darkorange;
}

.cad_campos {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.campoEndereco {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*modal*/

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.modal-texto {
    background: #fff;
    text-align: center;
    padding: 20px 25px;
    border-radius: 10px;
    width: 450px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    animation: aparecer 0.3s ease;
    border: 5px solid orange;
}

@keyframes aparecer {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.modal h3 {
    margin-bottom: 0px;
}

.modal p {
    margin-bottom: 0px;
    color: #555;
}

.btn-fechar {
    background-color: darkorange;
    border: none;
    padding: 8px 15px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;

    align-self: center;

}

.btn-fechar:hover {
    background-color: darkorange;
}

/*Dashboard*/

.containerDashboard {
    display: flex;
    padding-top: 6%;
    padding-bottom: 6%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f7a8389d;
}

.containerDashboard b {
    font-size: 25px;
}

.RandomBox {
    display: flex;
    height: 100px;
    width: 500px;
    flex-direction: column;
    border: solid grey 2px;
    border-radius: 10px;
    margin: 5px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.EstBox {
    display: flex;
    height: 50px;
    width: 500px;
    flex-direction: column;
    border: solid grey 2px;
    border-radius: 10px;
    margin: 5px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.lotenBox {
    display: flex;
    height: 50px;
    width: 300px;
    flex-direction: column;
    border: solid grey 2px;
    border-radius: 10px;
    margin: 5px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.kpiBoxes {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

.kpiBox {
    display: flex;
    height: 150px;
    flex-direction: column;
    border: solid grey 2px;
    border-radius: 10px;
    margin: 5px;
    background-color: white;
}

.kpiBoxes .kpiBox p {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.graficosDashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.graficosDashboard .boxEstoque {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.graficosDashboard .boxLotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.dashboardEstoque {
    display: flex;
}

.conteinerBoxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    height: 500px;
    width: 1000px;
    align-items: center;
    justify-items: center;
}

.dashBox {
    display: flex;
    height: 270px;
    width: 490px;
    border: solid grey 2px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.dashNav {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header .container .dashNav .title a {
    outline: none;
    text-decoration: none;
    color: black;
    marker: none;
}

/*Fim da pagina cadastro*/

/* Estilização da nova Dashboard */
.container_main {
    width: 100%;
    height: 100vh;
    display: flex;
}

.container_main aside {
    background-color: #E67C1C;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container_main aside header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.container_main aside header .nome_user {
    font-size: 30px;
    color: white;
}

.container_main aside header img {
    width: 100px;
}

.container_main aside .body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_main aside .body p {
    font-size: 30px;
}

.container_main aside .body a {
    text-decoration: none;
    color: white;
}

.container_main aside .body a:hover {
    border-bottom: 2px solid white;
}

.container_main aside .body a .container_main aside .footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
}

.container_main aside .footer .logout button {
    background-color: red;
    border-radius: 10px;
    width: 50px;
    cursor: pointer;
    color: white;
    border: 0;
    padding: 5px 10px;
}

.container_main .container_dashboards {
    width: 75%;
    background-color: #1E0473;
}


/* Responsividade básica */
@media screen and (max-width: 1000px) {


    main .sobre .container .porcentagens .todasaspercs {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: column;

    }

    .graficosDashboard {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .conteinerBoxes {
        display: flex;
        flex-direction: column;
    }

    .kpiBoxes {
        display: flex;
        flex-direction: column;
    }

    .cad_campos {
        display: flex;
        flex-direction: column;
    }

    .card-endereco {
        margin-left: 0px;
        margin-top: 30px;
    }

    .card-Cadastro {
        margin-right: 0px;
        margin-top: -350px;
    }

    .body-cadastrar {
        height: 200vh;
    }

    .cad_pai {
        display: flex;
        margin: 20px auto;
        flex-direction: column;
    }



}