
.container_inputs {
    width: 100%;
    min-height: 1000px;
    padding: 50px 0px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/imgs/close-up-warehouse-view.jpg');
    /* imagem temporaria*/
    background-size: cover;
    background-position: center;

    z-index: 1;
}

.container_modal_calculadora {
    width: 100%;
    min-height: 1000px;
    height: 1452px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-top: 300px;
}

.box_modal_calculadora {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.modal_calculadora {
    align-items: center;
    justify-content: center;
    width: 80%;
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
    border: #E67C1C 8px solid;
}

.modal_calculadora p {
    margin-left: 10px;
    margin-right: 10px;
}

.modal_calculadora button {
    background-color: #E67C1C;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 20px;
}

.container_filter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_filter button {
    justify-content: center;
    align-items: center;
    background-color: #E67C1C;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.apagar {
    display: flex;
    justify-content: space-between;
}

.apagar .margin {

    border: solid orange;
    width: 700px;
    height: 105vh;
    padding: 10px;
    background-color: #bababa;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    justify-content: flex-end;
    margin-left: 10px;
}



/* SIMULADOR */
.calc-container {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 20px;
    align-items: flex-start;
}

.calc-container .calc_html {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 10px;
    justify-content: flex-end;
    flex-direction: column;
    border: 2px solid;
}


.calc-container .resultado {
    width: 45%;
    align-items: flex-end;
    text-align: left;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
}

.boxCalculadora {
    justify-content: flex-end;
    align-items: flex-end;
    height: 50%;
    flex-direction: column;
}

.margemCalculadoraResultado {
    height: 545px;
}

.signup-prompt {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}


.margin select {
    text-align: center;
    height: 30px;
    width: 170px;
    border: 0px;
    background-color: rgb(231, 231, 231);
    border-radius: 5px;

}

.resultado button {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.calc_html button {
    height: 35px;
    width: 100px;
    border: 0px;
    align-items: center;
    background-color: #E67C1C;
    color: white;
    border-radius: 10px;
    font-weight: bolder;
}

.calc_html input {
    height: 35px;
    width: 300px;
    border: 0px;
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
    text-align: center;

}

.apagar select {
    height: 35px;
    width: 300px;
}

.calc_html input::placeholder {
    text-align: center;
    color: black;
}

.resultado {
    display: flex;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.resultado span {
    margin-top: 10px;
    margin-bottom: 10px;
}